.text-info {
  padding: 0;
  list-style: none;
}

.text-info-item {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}
.text-info-sub {
  font-size: 1.8rem;
  margin: 0;
  margin-left: 1rem;
}
