/* .list-items {
  padding: 0;
}

.item {
  display: flex;
}

.team-photo {
  width: 30rem;
  border-radius: 5%;
} */

/* .photo-team-box {
  margin: 4.5rem 0;
}
.photo-team {
  width: 300px;
  margin: 0 auto;
} */
/* ======= */
.parallax {
  background: url(../img/buildings-768773_1920.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 400px;
}
